[build]
  command = "npm install && npm run build"
  functions = "netlify/functions"
  publish = "dist"

[build.environment]
  NODE_OPTIONS = "--max-old-space-size=4096"
  SECRETS_SCAN_OMIT_KEYS = "PORT,NODE_ENV,FRONTEND_URL,GOOGLE_CLOUD_LOCATION,TELNYX_API_URL,ZOHO_TOKEN_URL,ZOHO_REDIRECT_URI,SMTP_SENDER_NAME,BREVO_FROM_EMAIL,GOOGLE_CLOUD_PROJECT,GOOGLE_CLOUD_STORAGE_BUCKET,TWILIO_PHONE_NUMBER,TELNYX_MESSAGING_PROFILE_ID,TELNYX_CONNECTION_ID,GOOGLE_APPLICATION_CREDENTIALS,JWT_SECRET,ZOHO_CLIENT_ID,ZOHO_CLIENT_SECRET"
  SECRETS_SCAN_OMIT_PATHS = ".tsbuildinfo,create-env.js,dist/**/*.js"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
